<!DOCTYPE html>

<html>
<head>
	<title>gruper</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/css/bootstrap.css" rel="stylesheet">
  <link href="/css/bootstrap-theme.css" rel="stylesheet">
  <link href="/css/gruper.css" rel="stylesheet">
</head>

<body>
<div class="container">
	<div class="jumbotron">
		<center> <h1>gruper</h1> </center>
		<center> <h3>Connect and Explore</h3></center>
	</div>
	<form id="login" role="form">
    <div class="form-group">
      <label for="width">ID/Email:</label>
      <input type="text" class="form-control" id="width" placeholder="ID/Email">
    </div>
    <div class="form-group">
      <label for="description">Password:</label>
      <input type="password" class="form-control" id="description" placeholder="Password">
    </div>
	<center><a href="/"><button id="submitBtn" type="button" class="btn btn-info btn-large">Login</button></a></center>
	
	<div><center><h3>OR</h3></center></div>
	<div class="form-group">
      <label for="width">ID:</label>
      <input type="text" class="form-control" id="width" placeholder="ID">
    </div>
	<div class="form-group">
      <label for="width">Email:</label>
      <input type="text" class="form-control" id="width" placeholder="Email">
    </div>
    <div class="form-group">
      <label for="description">Password:</label>
      <input type="password" class="form-control" id="description" placeholder="Password">
    </div>
	<div class="form-group">
      <label for="description">Re-Type Password:</label>
      <input type="password" class="form-control" id="description" placeholder="Re-Type Password">
    </div>
	<center><a href="/"><button id="accountBtn" type="button" class="btn btn-info btn-large">Create Account</button></a></center>
  </form>
  
  <div><h3><center>OR</center></h3></div>
  <center><a href="/"><div><button id="accountSkip" type="button" class="btn btn-info btn-large">Continue As Guest</button></div></a></center>

</div>

  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="js/jquery-1.11.0.js"></script>
  <script src="js/bootstrap.js"></script>
  <script src="js/gruperScript.js"></script>
</body>
</html>
